body {
  background: #ccc;
  font-family: Roboto;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 12px black;
  float: left;
  margin-right: 30px;
}

.bio {
  padding-top: 5px;
}

.name {
  color: blue;
}

button {
  background: green;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
