* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: Inter, sans-serif;
}

.sidebar {
  width: 246px;
  height: 100vh;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0 20px 20px 0;

  position: relative;
}

.sidebar__logo {
  margin-left: 38px;
  margin-top: 43px;
}

.sidebar__container {
  padding: 0 26px;
  margin-top: 43px;
}

.nav {
  list-style: none;
}

.nav__item {
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 14px;
}

.nav__item--active {
  background: #1b59f810;
  color: #1b59f8;
}

.small-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.profile {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 20px;
}

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

.profile__user {
  padding: 31px 18px 0 18px;
}

.profile__name {
  font-size: 14px;
  margin-top: 9px;
  font-weight: 700;
  padding: 0 18px;
}

.profile__email {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 18px;
  padding-bottom: 31px;
}

.app {
  display: grid;
  grid-template-columns: 246px 1fr;
}

.container {
  margin-top: 37px;
  padding: 0 41px;
}

.head {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.head--large {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.button {
  display: flex;
  gap: 5px;
  background: none;
  border: none;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.content-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.select {
  width: 100%;
  background: white;
  border: 1px solid #eff0f6;
  padding: 10px 19px;
  border-radius: 20px;
  font-size: 16px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 28px;
  margin-bottom: 21px;
}

.statistic {
  display: grid;
  max-width: 555px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 17px;
  column-gap: 12px;
}

.statistic-item {
  background: white;
  border-radius: 20px;
  border: 1px solid #eff0f6;
  min-height: 152px;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.statistic__number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
}

.gray-text {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.statistic__image {
  margin-top: 15px;
}
